src/main/resources/Person.wsdl

<?xml version="1.0" ?>

<wsdl:definitions 
    targetNamespace="http://fahadi.com/Person.wsdl"
    xmlns:tns="http://fahadi.com/Person.wsdl" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema">


    <wsdl:types>
        <xsd:schema targetNamespace="http://fahadi.com/Person.wsdl">

            <xsd:element name="PersonDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FirstName" type="xsd:string"/>
                        <xsd:element name="LastName" type="xsd:string"/>
                        <xsd:element name="Age" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="IdDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="MyFaultDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorCode" type="xsd:integer"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        
    </wsdl:types>


    <wsdl:message name="PersonDetailMessage">
        <wsdl:part name="parameters" element="tns:PersonDetail"/>
    </wsdl:message>


    <wsdl:message name="IdDetailMessage">
        <wsdl:part name="parameters" element="tns:IdDetail"/>
    </wsdl:message>

    <wsdl:message name="MyFaultDetailMessage">
        <wsdl:part name="error" element="tns:MyFaultDetail"/>
    </wsdl:message>

    <wsdl:portType name="PersonDetailPortType">
        <wsdl:operation name="GetPersonDetail">
            <wsdl:input message="tns:IdDetailMessage"/>
            <wsdl:output message="tns:PersonDetailMessage"/>
            <wsdl:fault name="error" message="tns:MyFaultDetailMessage"/>
        </wsdl:operation>    
    </wsdl:portType>

    <wsdl:binding name="PersonDetailSoapBinding" type="tns:PersonDetailPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetPersonDetail">
            <soap:operation soapAction="http://fahadi.com/GetPersonDetail"/>   
            <wsdl:input>   
                <soap:body use="literal"/>   
            </wsdl:input>              
            <wsdl:output>      
                <soap:body use="literal"/>   
            </wsdl:output>
            <wsdl:fault name="error">
                <soap:fault name="error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PersonService">   
        <wsdl:documentation>PersonService</wsdl:documentation>  
        <wsdl:port name="PersonPort" binding="tns:PersonDetailSoapBinding">     
            <soap:address location="http://localhost:8080/PersonDetail"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>